[Desktop Entry]
Name=ALCOM
Exec=alcom
Icon=alcom
Comment=Fast open-source alternative of VRChat Creator Companion.
Categories=Development;
Terminal=false
Type=Application
